body {
    background-color: black;
    color: white;
}

#nav {
    display: flex;
    background-color: rgb(28, 27, 27);
}
nav h2 {
    color: white;
}
.leader {
    color: red;
    font-weight: bold;
}
ul, li {
    display: flex;
    justify-content: end;
    text-decoration: none;
    list-style: none;
}
a {
    color: white;
}